[include macros.cfg]
[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_03700016A29869AF0E07405EC52000F5-if00

[pause_resume]

[display_status]

[virtual_sdcard]
path: ~/gcode_files

# This file contains common pin mappings for the MKS SGEN_L V2 board. To
# use this config, the firmware should be compiled for the LPC1769.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: P2.2
dir_pin: !P2.3
enable_pin: !P2.1
microsteps: 32
rotation_distance: 40
endstop_pin: ^P1.29 #tmc2209_stepper_x:virtual_endstop  # ^P1.28 for X-max
position_endstop: 0
position_max: 187
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: P1.1
interpolate: True
run_current: 0.800
#hold_current: 0.500
stealthchop_threshold: 999999
#diag_pin: ^P1.29
#driver_SGTHRS: 255

[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
microsteps: 32
rotation_distance: 40
endstop_pin: P1.27 #tmc2209_stepper_y:virtual_endstop # ^P1.26 for Y-max
position_endstop: 0
position_max: 200
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: P1.8
interpolate: True
run_current: 0.800
#hold_current: 0.500
stealthchop_threshold: 999999
#diag_pin: P1.27
#driver_SGTHRS: 255


[stepper_z]
step_pin: P0.22
dir_pin: !P2.11
enable_pin: !P0.21
microsteps: 32
rotation_distance: 2
endstop_pin: probe:z_virtual_endstop  # ^P1.24 for Z-max
#position_endstop: 0.5
position_max: 190
position_min: -6.0
homing_speed: 10

[tmc2209 stepper_z]
uart_pin: P1.10
interpolate: True
run_current: 1.0
#hold_current: 0.500
stealthchop_threshold: 999999
#diag_pin: P1.25
#driver_SGTHRS: 255

[bltouch]
sensor_pin: ^P1.25
control_pin: P1.23
x_offset: 33
y_offset: -2
samples:2
speed:20
#z_offset: 0.5
probe_with_touch_mode: False
samples_tolerance:0.1
samples_tolerance_retries: 3

[safe_z_home]
home_xy_position: 107, 107 # Change coordinates to the center of your print bed
speed: 50
z_hop: 3                 # Move up 10mm
z_hop_speed: 1

[bed_mesh]
speed: 80 
horizontal_move_z: 5
mesh_min: 33, 0
mesh_max: 200, 198
probe_count: 7, 7
mesh_pps: 2,2
fade_start: 1
fade_end: 10
fade_target: 0
algorithm: bicubic
bicubic_tension: 0.1

[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
microsteps: 32
rotation_distance: 7.403
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.23
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 260
max_extrude_cross_section: 50
pressure_advance: 0.8

[tmc2209 extruder]
uart_pin: P1.15
run_current: 0.600
#hold_current: 0.500
#stealthchop_threshold: 999999

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
#control: watermark
min_temp: 0
max_temp: 100

[bed_screws]
screw1: 20, 20
screw2: 180, 20
screw3: 180, 180
screw4: 20, 180

[fan]
pin: P1.4

[heater_fan board_fan]
pin: P2.6
heater: extruder
heater_temp: 60.0
fan_speed: 1.0


[printer]
kinematics: corexy
max_velocity: 200
max_accel: 2000
max_z_velocity: 5
max_z_accel: 100

[screws_tilt_adjust]
screw1: 0, 5
screw1_name: front left screw
screw2: 170, 5
screw2_name: front right screw
screw3: 170, 200
screw3_name: rear right screw
screw4: 0, 200
screw4_name: rear left screw
horizontal_move_z: 10.
speed: 50.
screw_thread: CW-M3

########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.31, EXP1_3=P0.18, EXP1_5=P0.15, EXP1_7=P1.0,  EXP1_9=<GND>,
    EXP1_2=P1.30, EXP1_4=P0.16, EXP1_6=P0.17, EXP1_8=P1.22, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.8, EXP2_3=P3.25, EXP2_5=P3.26, EXP2_7=P0.27, EXP2_9=<GND>,
    EXP2_2=P0.7, EXP2_4=P0.28, EXP2_6=P0.9,  EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp1"

######################################################################
# "RepRapDiscount 128x64 Full Graphic Smart Controller" type displays
######################################################################

[display]
lcd_type: st7920
cs_pin: EXP1_4
sclk_pin: EXP1_5
sid_pin: EXP1_3
encoder_pins: ^!EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

[output_pin beeper]
pin: EXP1_1

# See the MKS Lcd Config path file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = 0.840
#*#
#*# [bltouch]
#*# z_offset = 0.844
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 28.409
#*# pid_ki = 1.578
#*# pid_kd = 127.839
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 71.573
#*# pid_ki = 1.607
#*# pid_kd = 797.149
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.127031, 0.251406, 0.305469, 0.343437, 0.301406, 0.205625, 0.045312
#*# 	  0.076406, 0.203437, 0.220625, 0.322969, 0.192812, 0.151250, 0.090469
#*# 	  0.081562, 0.132500, 0.164844, 0.156406, 0.144219, 0.083125, 0.021562
#*# 	  0.120000, 0.136250, 0.154219, 0.140625, 0.044687, 0.054219, 0.054687
#*# 	  0.109062, 0.172969, 0.126406, 0.163437, 0.036875, 0.027969, -0.004844
#*# 	  0.146250, 0.165469, 0.138125, 0.032969, -0.040313, -0.002969, -0.013125
#*# 	  0.125937, 0.120781, 0.124531, 0.076719, 0.052500, 0.080000, 0.002500
#*# tension = 0.1
#*# min_x = 33.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 0.0
#*# x_count = 7
#*# max_y = 198.0
#*# mesh_x_pps = 2
#*# max_x = 199.98
