[include macros.cfg]
[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_03700016A29869AF0E07405EC52000F5-if00

[pause_resume]

[display_status]

[virtual_sdcard]
path: ~/gcode_files

# This file contains common pin mappings for the MKS SGEN_L V2 board. To
# use this config, the firmware should be compiled for the LPC1769.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: P2.2
dir_pin: !P2.3
enable_pin: !P2.1
microsteps: 32
rotation_distance: 40
endstop_pin: ^P1.29 #tmc2209_stepper_x:virtual_endstop  # ^P1.28 for X-max
position_endstop: 0
position_max: 200
homing_speed: 20

[tmc2209 stepper_x]
uart_pin: P1.1
interpolate: True
run_current: 0.800
#hold_current: 0.500
stealthchop_threshold: 999999
#diag_pin: ^P1.29
#driver_SGTHRS: 255

[stepper_y]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
microsteps: 32
rotation_distance: 40
endstop_pin: P1.27 #tmc2209_stepper_y:virtual_endstop # ^P1.26 for Y-max
position_endstop: 0
position_max: 200
homing_speed: 20

[tmc2209 stepper_y]
uart_pin: P1.8
interpolate: True
run_current: 0.800
#hold_current: 0.500
stealthchop_threshold: 999999
#diag_pin: P1.27
#driver_SGTHRS: 255


[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
microsteps: 16
rotation_distance: 0.9955
endstop_pin: ^P1.25  # ^P1.24 for Z-max
position_endstop: 0.5
position_max: 200


[extruder]
step_pin: P2.13
dir_pin: !P0.11
enable_pin: !P2.12
microsteps: 32
rotation_distance: 7.119
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.23
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: 0
max_temp: 260
max_extrude_cross_section: 50

[tmc2209 extruder]
uart_pin: P1.15
run_current: 0.600
#hold_current: 0.500
#stealthchop_threshold: 999999

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control: watermark
min_temp: 0
max_temp: 100

[bed_screws]
screw1: 20, 20
screw2: 180, 20
screw3: 180, 180
screw4: 20, 180

[fan]
pin: P1.4

[heater_fan board_fan]
pin: P2.6
heater: extruder
heater_temp: 60.0
fan_speed: 1.0


[printer]
kinematics: corexy
max_velocity: 200
max_accel: 2000
max_z_velocity: 5
max_z_accel: 100


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.31, EXP1_3=P0.18, EXP1_5=P0.15, EXP1_7=P1.0,  EXP1_9=<GND>,
    EXP1_2=P1.30, EXP1_4=P0.16, EXP1_6=P0.17, EXP1_8=P1.22, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.8, EXP2_3=P3.25, EXP2_5=P3.26, EXP2_7=P0.27, EXP2_9=<GND>,
    EXP2_2=P0.7, EXP2_4=P0.28, EXP2_6=P0.9,  EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp1"

######################################################################
# "RepRapDiscount 128x64 Full Graphic Smart Controller" type displays
######################################################################

[display]
lcd_type: st7920
cs_pin: EXP1_4
sclk_pin: EXP1_5
sid_pin: EXP1_3
encoder_pins: ^!EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

[output_pin beeper]
pin: EXP1_1

# See the MKS Lcd Config path file for definitions of common LCD displays.